ul {
	list-style: none;
}

li {
	width: 50%;
	border: 1px tomato solid;
}

.modal {
	position: absolute;
	z-index: 1000;
}

#logOut {
	display: block;
}

/*#addTaskFormModal {
	background: pink;
}*/

/*#addTaskForm, #deleteTaskConfirmationModal, #changeUserNameModal {
	background: lime;
}*/

.modal {
	background: #fff;
	border: 2px #000 solid;
	border-radius: 10px;
	padding: 10px;
}